body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    margin: 20px;
    padding: 6px;
    align-items: center;
}

.navbar *{
    margin:0px 6px;
}

.material-icons{
    vertical-align: middle;
    color: gray;
    user-select: none;
}

#apps:hover{
    color:black;
    text-decoration: none;
    cursor:pointer;
}

a {
    text-decoration: none;
    color:inherit;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}


/*
.nav-item a {
    display: inline-block;
    text-decoration: none;
  }

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

*/