body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    margin: 20px;
    padding: 6px;
    align-items: center;
}

.navbar *{
    margin:0px 6px;
}

.material-icons{
    vertical-align: middle;
    color: gray;
    user-select: none;
}

#apps:hover{
    color:black;
    text-decoration: none;
    cursor:pointer;
    background-color: #CCC;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color:inherit;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-height: 290px;
    height: calc(100% - 560px);
}

.footer {
    display: flex;
    position: fixed;
    justify-content: space-between; 
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 20px 10px 20px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.footer *{
    margin:0px 6px;
}

.button {
    cursor:pointer;
    background: #1a73e8;
    color: #FFF;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.button:hover {
    background-color:rgba(26, 115, 232, 0.9);
}